body {
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

/* --------- =Header --------- */

header {
	background: url('../img/header-bg.jpg');
	width: 100%;
	height: 387px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 130px rgba(0, 0, 0, .2);
} 

.top {
	width: 960px;
	margin: 0 auto;
	/*position: relative;*/
}

.logo {
	width: 50%;
	float: left;
	margin: 50px 0 55px 10px;
}

.logo h1 {
	font-size: 18px;
	font-style: italic;
	color: #444343;
}

/* -------- =Social -------- */

.social {
	float: right;
	margin: 35px 10px 55px 0;
}

.social ul {
	list-style-type: none;
}

.social ul li {
	display: inline-block; 
	padding-left: 18px;
}

.social li a {
	color: #686868;
	text-decoration: none;
}

/* --------- =Slider --------- */

.slider {
	position: relative;
}

.slider-prev, .slider-next {
	position: absolute;
	font-size: 34px;
	color: #686868;
	top: 307px;
	opacity: .8;
	z-index: 1;
}

.slider-prev a, .slider-next a {
	color: #686868;
	text-decoration: none;
}

.slider-prev {
	left: 33px;
}

.slider-next {
	right: 33px;
}

.slider img {
	position: absolute;
	top: 122px;
	left: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 3px;
}

/* --------- =Main -------------*/

.main {
	padding-top: 165px;
	width: 960px;
	margin: 0 auto;
	color: #444343;
}

.welcome, .main h2 {
	text-align: center;
}

.welcome {
	font-size: 24px;
}

.main h2 {
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
}

/* --------- =One-third-columns ------ */

.column-one-third {
	width: 275px;
	float: left;
	margin: 75px 45px 75px 0;
	padding: 0;
}

.column-one-third h3 {
	font-size: 22px;
}

/* --------- =Portfolio section ------ */

.folio {
	width: 100%;
	height: 765px;
	background: url('../img/portfolio-bg.jpg');
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 130px rgba(0, 0, 0, .2);
}

.projects {
	width: 960px;
	margin: 0 auto;
}

.thumbnails {
	width: 480px;
	float: left;
	margin: 75px 0;
}

.thumbnails img {
	margin: 9px 9px;
}

.featured-project {
	width: 460px;
	float: left;
	margin: 84px 0 84px 9px;
	position: relative;
}

.caption {
	position: absolute;
	bottom: 0;
	padding: 25px 70px;
	font-size: 14px;
	color: #fff;
	background-color: #000;
	opacity: .5;
}

.secondary-slider-prev, .secondary-slider-next {
	position: absolute;
	font-size: 34px;
	color: #686868;
	bottom: 42px;
	opacity: .8;
}

.secondary-slider-prev {
	left: 20px;
}

.secondary-slider-next{
	right: 20px;
}

/* --------- =Miscelanous ----- */

.clear {
	clear: both;
}

/* --------- clearfix --------- */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}